/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

@font-face {
  font-family: "OpenSans";
  src: url(../font-face/OpenSans.ttf);
}

@font-face {
  font-family: "Devonshire";
  src: url(../font-face/Devonshire.ttf);
}

@font-face {
  font-family: "CroissantOne";
  src: url(../font-face/CroissantOne.ttf);
}

@font-face {
  font-family: "LibreBaskerville";
  src: url(../font-face/LibreBaskerville.ttf);
}

@font-face {
  font-family: "Parisienne";
  src: url(../font-face/Parisienne.ttf);
}

@font-face {
  font-family: "KaushanScript";
  src: url(../font-face/KaushanScript.ttf);
}

@font-face {
  font-family: "Kalam";
  src: url(../font-face/Kalam.ttf);
}

@font-face {
  font-family: "Tillana";
  src: url(../font-face/Tillana.ttf);
}

/***  VARIABLE  ***/
/* color base */
/* color menu 1 */
/* color menu 2 */
/* color menu 3 */
/* color menu 4 */
/* color other */
/* ANIMATION */
@-webkit-keyframes blink {
  0%, 60%, 100% {
    opacity: 0.4;
    -webkit-transform: initial;
            transform: initial;
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(-15px) scale(1.8);
            transform: translateY(-15px) scale(1.8);
  }
}
@keyframes blink {
  0%, 60%, 100% {
    opacity: 0.4;
    -webkit-transform: initial;
            transform: initial;
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(-15px) scale(1.8);
            transform: translateY(-15px) scale(1.8);
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  45% {
    -webkit-transform: translate(-2px, 0) rotate(-2deg);
            transform: translate(-2px, 0) rotate(-2deg);
  }
  55% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  45% {
    -webkit-transform: translate(-2px, 0) rotate(-2deg);
            transform: translate(-2px, 0) rotate(-2deg);
  }
  55% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
}

/* MEDIA QUERY */
/* MIXINS*/
/* FUNCTION */
/* BASE */
body {
  font-family: 'OpenSans',Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 2;
  background-color: #fff;
}

img {
  width: 33%;
  height: 40px;
}

a {
  text-decoration: none;
}

li {
  padding-top: 1.125rem;
}

/* TYPO */
h2 {
  font-size: 1.75rem;
  line-height: 3;
}

@media (max-width: 768px) {
  h2 {
    line-height: 2;
  }
}

h3 {
  padding-top: 1.125rem;
  font-size: 1.75rem;
  line-height: 1.5;
}

p {
  font-size: 1rem;
}

/* header */
.header, .footer, .btn--soon {
  background-color: #579c87;
}

.header__heading {
  padding: 0.2em;
  text-align: center;
  font-size: 2.125rem;
  font-weight: 800;
}

@media (max-width: 768px) {
  .header__heading {
    font-size: 2.375rem;
  }
}

@media (max-width: 992px) {
  .header__heading {
    font-size: 2.625rem;
  }
}

@media (max-width: 1200px) {
  .header__heading {
    font-size: 3rem;
  }
}

.header__heading--link {
  color: #f3c74a;
  -webkit-transition: text-shadow 0.8s ease-in-out;
  transition: text-shadow 0.8s ease-in-out;
}

.header__heading--link:hover {
  text-shadow: 0 0 5px #070504, 0 0 10px #fff, 0 0 20px #f3c84d, 0 0 30px #f3c84d, 0 0 40px #f3c84d, 0 0 55px #f3c84d, 0 0 75px #f3c84d;
}

/* CONTAINER */
.container {
  width: 100%;
}

/* article */
article {
  width: 80%;
  margin: 3em auto 4em;
  text-align: justify;
}

@media (max-width: 768px) {
  article {
    width: 80%;
  }
}

@media (max-width: 992px) {
  article {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  article {
    width: 75%;
  }
}

article__section {
  padding-bottom: 2em;
}

/* footer */
.footer {
  width: 100%;
  padding: 0.5em 0;
  left: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}

.footer__infos {
  padding: 0 2em 0.2em;
  font-size: 16px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .footer__infos {
    padding: 0em;
  }
}

.footer__infos--link {
  color: #f3c74a;
}

.footer__infos--link:hover {
  -webkit-animation: wiggle 80ms infinite;
          animation: wiggle 80ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@media (max-width: 768px) {
  .footer__infos--link {
    padding: 0.8em 2em;
    font-size: 1.125rem;
  }
}

@media (max-width: 992px) {
  .footer__infos--link {
    font-size: 1.25rem;
  }
}

@media (max-width: 1200px) {
  .footer__infos--link {
    font-size: 1.375rem;
  }
  .footer__infos--link:hover {
    -webkit-animation: wiggle 80ms infinite;
            animation: wiggle 80ms infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}

.footer__infos a {
  color: #f3c74a;
}

/* compenent btn */
.btn {
  text-align: center;
  margin-bottom: 6em;
}

.btn--soon {
  position: relative;
  margin: 0 auto;
  padding: 0.5em 3.5em 0.5em 3.5em;
  opacity: 0.9;
  font-size: 20px;
  color: #f3c74a;
  border-radius: 0.4em;
}

.btn span {
  position: absolute;
  right: 1.5em;
  bottom: 0.25em;
  font-size: 33px;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.btn span:nth-child(2) {
  right: 1.2em;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.btn span:nth-child(3) {
  right: .9em;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

/* Page home */
.nav-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: 0 auto;
  padding: 2em;
  width: 90%;
  height: auto;
}

@media (max-width: 1200px) {
  .nav-card {
    width: 80%;
  }
}

.nav-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 40%;
  height: 80vmin;
  margin: 2em auto;
  text-align: center;
  overflow: hidden;
  border-radius: 0.3em;
  -webkit-box-shadow: 0 0 10px 0 rgba(152, 153, 151, 0.6);
          box-shadow: 0 0 10px 0 rgba(152, 153, 151, 0.6);
  -webkit-transition: -webkit-box-shadow calc(0.8s*1.5) ease-in-out;
  transition: -webkit-box-shadow calc(0.8s*1.5) ease-in-out;
  transition: box-shadow calc(0.8s*1.5) ease-in-out;
  transition: box-shadow calc(0.8s*1.5) ease-in-out, -webkit-box-shadow calc(0.8s*1.5) ease-in-out;
}

@media (max-width: 768px) {
  .nav-card__item {
    width: 80%;
  }
}

.nav-card__item:hover {
  -webkit-box-shadow: 0 0 10px 0 #989997;
          box-shadow: 0 0 10px 0 #989997;
}

.nav-card__item--link {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.nav-card__item--link:hover {
  opacity: 0.6;
  -webkit-transform: translate(-50%, -50%) scale(1.19);
          transform: translate(-50%, -50%) scale(1.19);
}

.nav-card__item--subtitle {
  font-size: 1.5rem;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .nav-card__item--subtitle {
    font-size: 1.75rem;
  }
}

@media (max-width: 992px) {
  .nav-card__item--subtitle {
    line-height: 2;
  }
}

.nav-card__item--menu-1 {
  background-color: #fcdfdb;
}

.nav-card__item--menu-1 .nav-card__item--title,
.nav-card__item--menu-1 .nav-card__item--subtitle {
  color: #3b1519;
}

.nav-card__item--menu-1 .nav-card__item--title {
  font-family: 'Devonshire';
}

.nav-card__item--menu-1 .nav-card__item--subtitle {
  font-family: 'Tillana';
  text-transform: uppercase;
  font-weight: 700;
}

.nav-card__item--menu-2 {
  background-color: #fff5fe;
}

.nav-card__item--menu-2 .nav-card__item--title {
  font-family: 'CroissantOne';
  font-size: 1.125rem;
  color: #c77529;
  background: -webkit-gradient(linear, left top, right top, from(#c77529), to(#6a56a5));
  background: linear-gradient(to right, #c77529 0%, #6a56a5 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.nav-card__item--menu-2 .nav-card__item--subtitle {
  font-family: 'LibreBaskerville';
  color: #c77529;
}

.nav-card__item--menu-3 {
  background-color: #edefef;
}

.nav-card__item--menu-3 .nav-card__item--title {
  font-family: 'Parisienne';
  color: #215de9;
  background: -webkit-gradient(linear, left top, right top, from(#215de9), to(#0887fb));
  background: linear-gradient(to right, #215de9 0%, #0887fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-card__item--menu-3 .nav-card__item--subtitle {
  font-family: 'Tillana';
  color: #0887fb;
}

.nav-card__item--menu-4 {
  background: #edefef;
}

.nav-card__item--menu-4 .nav-card__item--title {
  font-family: 'KaushanScript';
  color: #76c158;
  background: -webkit-gradient(linear, left top, right top, from(#76c158), to(#c2db76));
  background: linear-gradient(to right, #76c158 0%, #c2db76 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-card__item--menu-4 .nav-card__item--subtitle {
  font-family: 'Tillana';
  color: #76c158;
}

/* PAGE MENUS */
.menu__section {
  margin-top: 2em;
  text-align: center;
}

.menu__section--title {
  font-weight: 700;
}

.menu-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em auto 8em;
  padding: 4em;
  width: 60%;
  -webkit-box-shadow: 0 0 10px 0 rgba(152, 153, 151, 0.6);
          box-shadow: 0 0 10px 0 rgba(152, 153, 151, 0.6);
}

@media (max-width: 768px) {
  .menu-card {
    width: 100%;
  }
}

.menu-card-menu-1 {
  font-family: 'Kalam';
  color: #3b1519;
  background-color: #fcdfdb;
}

.menu-card-menu-1 .menu-card__header {
  font-family: 'Devonshire';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-card-menu-1 .menu-table__items--list {
  font-weight: 700;
}

.menu-card-menu-1 .menu-card__footer {
  font-family: 'Devonshire';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-card-menu-2 {
  font-family: 'Baskerville';
  color: #c77529;
  background-color: #fff5fe;
  width: 60%;
  padding: 0em;
}

.menu-card-menu-2 img {
  width: 28%;
}

@media (max-width: 768px) {
  .menu-card-menu-2 {
    width: 100%;
    padding: 0em;
  }
  .menu-card-menu-2 img {
    width: 14%;
  }
}

@media (max-width: 992px) {
  .menu-card-menu-2 {
    width: 100%;
  }
  .menu-card-menu-2 img {
    width: 14%;
  }
}

.menu-card-menu-2 .menu-card__header {
  padding-bottom: 2em;
  font-family: 'CroissantOne';
  color: #c77529;
  background: -webkit-gradient(linear, left top, right top, from(#c77529), to(#6a56a5));
  background: linear-gradient(to right, #c77529 0%, #6a56a5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card-menu-2 .menu-table__items {
  margin-left: 0;
  margin-right: 0;
}

.menu-card-menu-3 {
  font-family: 'Tillana';
  background-color: #edefef;
}

@media (max-width: 768px) {
  .menu-card-menu-3 {
    width: 100%;
    padding: 0em;
  }
  .menu-card-menu-3 img {
    width: 14%;
  }
}

@media (max-width: 992px) {
  .menu-card-menu-3 {
    width: 100%;
  }
  .menu-card-menu-3 img {
    width: 14%;
  }
}

.menu-card-menu-3 .menu-card__header {
  font-family: 'Parisienne';
  color: #215de9;
  background: -webkit-gradient(linear, left top, right top, from(#215de9), to(#0887fb));
  background: linear-gradient(to right, #215de9 0%, #0887fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card-menu-3 .menu-card__header--title {
  padding-bottom: 0.5em;
  font-size: 2.375rem;
}

@media (max-width: 768px) {
  .menu-card-menu-3 .menu-card__header--title {
    padding-bottom: 0.8em;
    font-size: 2.75rem;
  }
}

@media (max-width: 992px) {
  .menu-card-menu-3 .menu-card__header--title {
    padding-bottom: 1em;
    font-size: 3rem;
  }
}

@media (max-width: 1200px) {
  .menu-card-menu-3 .menu-card__header--title {
    font-size: 1.875rem;
  }
}

.menu-card-menu-3 .menu-table__items {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1400px) {
  .menu-card-menu-3 .menu-table__items {
    margin-left: 3em;
    margin-right: 3em;
  }
}

.menu-card-menu-4 {
  font-family: 'Tillana';
  background-color: #fdfffd;
}

@media (max-width: 768px) {
  .menu-card-menu-4 {
    width: 100%;
    padding: 0em;
  }
  .menu-card-menu-4 img {
    width: 14%;
  }
}

@media (max-width: 992px) {
  .menu-card-menu-4 {
    width: 100%;
  }
  .menu-card-menu-4 img {
    width: 14%;
  }
}

.menu-card-menu-4 .menu-card__header {
  font-family: 'KaushanScript';
  color: #76c158;
  background: -webkit-gradient(linear, left top, right top, from(#76c158), to(#c2db76));
  background: linear-gradient(to right, #76c158 0%, #c2db76 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-card-menu-4 .menu-card__header--title {
  padding-bottom: 0.5em;
  font-size: 2.375rem;
}

@media (max-width: 768px) {
  .menu-card-menu-4 .menu-card__header--title {
    padding-bottom: 0.8em;
    font-size: 2.75rem;
  }
}

@media (max-width: 992px) {
  .menu-card-menu-4 .menu-card__header--title {
    padding-bottom: 1em;
    font-size: 3rem;
  }
}

@media (max-width: 1200px) {
  .menu-card-menu-4 .menu-card__header--title {
    font-size: 3.625rem;
  }
}

.menu-card-menu-4 .menu-table__items {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1400px) {
  .menu-card-menu-4 .menu-table__items {
    margin-left: 2em;
    margin-right: 2em;
  }
}

.menu-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.menu-card__header--title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 700;
}

.menu-card--title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.125rem;
}

@media (max-width: 768px) {
  .menu-card--title {
    font-size: 1.75rem;
  }
}

@media (max-width: 1200px) {
  .menu-card--title {
    font-size: 2.375rem;
  }
}

.menu-card .menu-table {
  font-size: 1rem;
}

.menu-card .menu-table__2 {
  color: #a86698;
}

.menu-card .menu-table__3 {
  color: #6a56a5;
}

.menu-card .menu-table__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-card .menu-table__caption--title {
  position: relative;
  white-space: nowrap;
  font-weight: 700;
}

@media (max-width: 768px) {
  .menu-card .menu-table__caption--title {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .menu-card .menu-table__caption--title {
    font-size: 1.125rem;
  }
}

@media (max-width: 1200px) {
  .menu-card .menu-table__caption--title {
    font-size: 1.25rem;
  }
}

@media (max-width: 1400px) {
  .menu-card .menu-table__caption--title {
    font-size: 1.5rem;
  }
}

.menu-card .menu-table__items {
  margin: 1em 0 2em;
}

.menu-card .menu-table__items--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 2;
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .menu-card .menu-table__items--list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=main.css.map */