@import '../libs/reset.scss';
@font-face{
    font-family: "OpenSans";
    src: url(/font-face/OpenSans.ttf);
}

@font-face{
    font-family: "Devonshire";
    src: url(/font-face/Devonshire.ttf);
}
@font-face{
    font-family:"CroissantOne";
    src: url(/font-face/CroissantOne.ttf);
}
@font-face{
    font-family:"LibreBaskerville";
    src: url(/font-face/LibreBaskerville.ttf);
}
@font-face{
    font-family:"Parisienne";
    src: url(/font-face/Parisienne.ttf);
}
@font-face{
    font-family:"KaushanScript";
    src: url(/font-face/KaushanScript.ttf);
}
@font-face{
    font-family:"Kalam";
    src: url(/font-face/Kalam.ttf);
}
@font-face{
    font-family:"Tillana";
    src: url(/font-face/Tillana.ttf);
}

/***  VARIABLE  ***/

/* color base */

$color-primary: #fff;
$color-secondary: #579c87;
$color-link: #f3c74a;

/* color menu 1 */
$color-menu-1-bg:#fcdfdb;
$color-menu-1-text:#3b1519;
/* color menu 2 */
$color-menu-2-bg:#fff5fe;
$color-menu-2-text:#c77529;
$color-menu-2-2-text:#a86698;
$color-menu-2-3-text:#6a56a5;
$color-menu-2-gradient-start:$color-menu-2-text;
$color-menu-2-gradient-end:$color-menu-2-3-text;
/* color menu 3 */
$color-menu-3-bg:#edefef;
$color-menu-3-text:#215de9;
$color-menu-3-3-text:#0887fb;
$color-menu-3-gradient-start:$color-menu-3-text;
$color-menu-3-gradient-end:$color-menu-3-3-text;
/* color menu 4 */
$color-menu-4-bg:#fdfffd;
$color-menu-4-text:#76c158;
$color-menu-4-gradient-start:$color-menu-4-text;
$color-menu-4-gradient-end:#c2db76;

/* color other */
$color-black: #070504;
$color-white: #fff;
$lighter:lighten( $color-link, 0.7);

// FONT SIZE BASE PX
$scut-rem-base: 16 !default;

// Animation 
$duration-transition: 0.8s;
$duration-animation: 80ms;

/* ANIMATION */

     // animation for dots

@keyframes blink {
    0%, 60%, 100% {
              opacity: 0.4;
              transform: initial;
    }
    30% {
        opacity: 1;
        transform: translateY(-15px) scale(1.8);
    }
}
    
     // animation for footer links

@keyframes wiggle {
    0% {
        transform: translate(2px, 0);
    }
    45% {
        transform: translate(-2px, 0) rotate(-2deg);
    }
    55% {
        transform: rotate(2deg);
    }
    100%{
        transform: translate(2px, 0);
    }
}

/* MEDIA QUERY */

$breakpoints: (
    'small': ( max-width: 768px ),
    'medium':(max-width: 992px ),
    'large': (max-width: 1200px ),
    'x-large': (max-width: 1400px ),
);

/* MIXINS*/
//https://www.sitepoint.com/sass-mixins-kickstart-project/

@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
      @media #{inspect(map-get($breakpoints, $name))} {
    @content;
  }
}
@else {
  @warn "Couldn't find a breakpoint named `#{$name}`.";
 }
}

/* FUNCTION */
//  https://css-tricks.com/sass-techniques-from-the-trenches/
@function scut-strip-unit($num) {
    @return $num / ($num * 0 + 1);
  }
  
  @function scut-rem($pixels) {
    @return scut-strip-unit($pixels) / $scut-rem-base * 1rem;
  }

/* BASE */
body{
    font-family: 'OpenSans',Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 2;
    background-color: $color-primary;
}
img{
    width: 33%;
    height: 40px;
}
a{
    text-decoration: none;
}
li{
    padding-top: scut-rem(18px);
}

/* TYPO */
h2{
    font-size: scut-rem(28px);
    line-height: 3;
    @include breakpoint(small) {
    line-height: 2;
       
    }
}
h3{
    padding-top: scut-rem(18px);
    font-size: scut-rem(28px);
    line-height: 1.5;
}
p{
    font-size:scut-rem(16px) ;
}

/* header */
.header {
    background-color: $color-secondary;
    &__heading {
        padding: 0.2em;
        text-align: center;
        font-size: scut-rem(34px);
        font-weight: 800;
        @include breakpoint(small) {
            font-size: scut-rem(38px);
        }
        @include breakpoint(medium) {
            font-size: scut-rem(42px);
        }
        @include breakpoint(large){
            font-size: scut-rem(48px);
        }
    }
    &__heading--link {
         color: $color-link;
         transition: text-shadow $duration-transition ease-in-out;
         &:hover {
            text-shadow: 0 0 5px $color-black, 0 0 10px $color-white,
            0 0 20px $lighter, 0 0 30px $lighter, 0 0 40px $lighter, 
            0 0 55px $lighter, 0 0 75px $lighter;
            
         }
    }
}

/* CONTAINER */
.container {
    width: 100%;
}

/* article */
article {
    width: 80%;
    margin: 3em auto 4em;
    text-align: justify;
    @include breakpoint(small) {
        width: 80%;

    }
    @include breakpoint(medium) {
        width: 70%;
    }
    @include breakpoint(large) {
        width: 75%;
    }
    &__section{
        padding-bottom: 2em;
    }
}

/* footer */
.footer {
    width: 100%;
    padding: 0.5em 0;
    left: 0;
    bottom: 0;
    @extend .header;
    @include breakpoint(small) {
        justify-content: space-between;
        padding: 0;
    }
    &__infos{
        padding: 0 2em 0.2em;
        font-size: 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include breakpoint(small) {
            padding: 0em;
           
        }

        &--link{
         color: $color-link;
         &:hover {
            animation: wiggle $duration-animation infinite;
            animation-timing-function: linear;
        }   
        @include breakpoint(small) {
             padding: 0.8em 2em;
             font-size: scut-rem(18px);
            //transform: translate(2px, 0);  
         }
         @include breakpoint(medium) {
             font-size: scut-rem(20px);
            
          }
          @include breakpoint(large) {
              font-size: scut-rem(22px);
              &:hover {
                animation: wiggle $duration-animation infinite;
                animation-timing-function: linear;
            }   
             
          }
         }

      a{
        color: $color-link;
    }
  } 
}

/* compenent btn */

.btn {
    text-align: center;
    margin-bottom: 6em;
    &--soon{
        position: relative;
        margin: 0 auto;
        padding: 0.5em 3.5em 0.5em 3.5em;
        opacity: 0.9;
        font-size: 20px;
        color: $color-link;
        @extend .header; //Extend color and background
        border-radius: 0.4em;
    }
    // animation for dots
    span {
          position: absolute;
          right: 1.5em;
          bottom: 0.25em;
          font-size: 33px;
          
          animation-name: blink;
          animation-duration: 1.4s;
          animation-iteration-count: infinite;
                     animation-fill-mode: both;
          &:nth-child(2) {
                          right: 1.2em;
                animation-delay: 0.2s;
          }
          &:nth-child(3) {
                    right: .9em;
                animation-delay: 0.4s;
                
          }
    }
}

/* Page home */

.nav-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 auto;
    padding: 2em;
    width: 90%;
    height: auto;
    @include breakpoint(large) {
        width: 100%;
    }
    &__item{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 40%;
        height: 80vmin;
        margin: 2em auto;
        text-align: center;
        overflow: hidden;
        border-radius: 0.3em;
        box-shadow: 0 0 10px 0 rgba(152, 153, 151, 0.6);
        transition: box-shadow calc(#{$duration-transition}*1.5) ease-in-out;
        
       @include breakpoint(small) {
            width: 80%;
          }
         
      &:hover{
            box-shadow: 0 0 10px 0 rgba(152, 153, 151, 1);
        }
        &--link{
            position: absolute;
            top:50%;
            left:50%;
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
            transition: all $duration-transition ease-in-out;
            &:hover{
                opacity: 0.6;
                 transform: translate(-50%,-50%) scale(1.19);
            }
        }
        &--subtitle{
            font-size: scut-rem(24px);
            line-height: 1.2;
            @include breakpoint(small) {
                font-size: scut-rem(28px);
            }
            @include breakpoint(medium) {
                line-height: 2;
            }
        }
        &--menu-1{
            background-color: $color-menu-1-bg;
            .nav-card__item--title,
            .nav-card__item--subtitle {
                color: $color-menu-1-text;

            }
            .nav-card__item--title{
                font-family: 'Devonshire';
            }
            .nav-card__item--subtitle {
                font-family: 'Tillana';
                text-transform: uppercase;
                font-weight: 700;
            }
       }
      &--menu-2 {
            background-color: $color-menu-2-bg;
            .nav-card__item--title {
                font-family: 'CroissantOne';
                font-size: scut-rem(18px);
                color: $color-menu-2-text;
                background: linear-gradient(
                    to right,
                    $color-menu-2-gradient-start 0%,
                    $color-menu-2-gradient-end 100%
                );
               -webkit-text-fill-color:transparent;
               -webkit-background-clip: text;
            }
            .nav-card__item--subtitle{
                font-family: 'LibreBaskerville';
                color: $color-menu-2-text;
            }
      }
      &--menu-3 {
           background-color: $color-menu-3-bg;
           .nav-card__item--title{
               font-family: 'Parisienne';
               color:$color-menu-3-text;
               background: linear-gradient(
                   to right,
                   $color-menu-3-gradient-start 0%,
                   $color-menu-3-gradient-end 100%
               );
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
               
        }
        .nav-card__item--subtitle {
            font-family: 'Tillana';
            color: $color-menu-3-3-text;
        }
      }
      &--menu-4{
          background: $color-menu-3-bg;
          .nav-card__item--title{
              font-family: 'KaushanScript';
              color: $color-menu-4-text;
              background: linear-gradient(
                  to right,
                  $color-menu-4-gradient-start 0%,
                  $color-menu-4-gradient-end 100%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
          }
          .nav-card__item--subtitle {
              font-family: 'Tillana';
              color: $color-menu-4-text;
          }
      } 
    }
      
}

/* PAGE MENUS */
.menu__section {
    margin-top: 2em;
    text-align: center;
    &--title {
        font-weight: 700;
    }
}
.menu-card {
    display: flex;
    flex-direction: column;
    margin: 2em auto 8em;
    padding: 4em;
    width: 60%;
    box-shadow: 0 0 10px 0 rgba(152,153,151,0.6);
    @include breakpoint(small) {
        //padding: 2em;
        width: 100%;
    }
    
    &-menu-1{
        font-family: 'Kalam';
        color: $color-menu-1-text;
        background-color: $color-menu-1-bg;
        .menu-card__header{
               font-family: 'Devonshire';
               display: flex;
               flex-direction: column;
               align-items: center;
              }
        .menu-table__items--list{
                font-weight: 700; 
        }
              
        .menu-card__footer{
            font-family: 'Devonshire';
            display: flex;
            flex-direction: column;
            align-items: center;
                }           
        }

    &-menu-2 {
         font-family: 'Baskerville';
         color: $color-menu-2-text;
         background-color: $color-menu-2-bg;
         width: 60%;
         padding: 0em;
         img{
             width: 28%;
         }
         @include breakpoint(small) {
            img{
                width: 14%;
            }
            width: 100%;
            padding: 0em;
        }
        @include breakpoint(medium) {
            width: 100%;
            img{
                width: 14%;
            }
        }
       
         .menu-card__header{
             padding-bottom: 2em;
             font-family: 'CroissantOne';
             color: $color-menu-2-text;
             background: linear-gradient(
                 to right,
                 $color-menu-2-gradient-start 0%,
                 $color-menu-2-gradient-end 100%
             );
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
         }
         .menu-table__items{
             margin-left: 0;
             margin-right: 0;

         }
    
    }
    &-menu-3{
        font-family: 'Tillana';
        background-color: $color-menu-3-bg;
        @include breakpoint(small) {
            img{
                width: 14%;
            }
            width: 100%;
            padding: 0em;
        }
        @include breakpoint(medium) {
            width: 100%;
            img{
                width: 14%;
            }
        }
        .menu-card__header{
            font-family: 'Parisienne';
            color: $color-menu-3-text;
            background: linear-gradient(to right,$color-menu-3-gradient-start 0%,$color-menu-3-gradient-end 100%);
            -webkit-background-clip:text;
            -webkit-text-fill-color:transparent;
            &--title{
                padding-bottom: 0.5em;
                font-size: scut-rem(38px);
                @include breakpoint(small) {
                    padding-bottom: 0.8em;
                    font-size: scut-rem(44px);
                }
                @include breakpoint(medium) {
                    padding-bottom: 1em;
                    font-size: scut-rem(48px);
                }
                @include breakpoint(large) {
                    font-size: scut-rem(30px);
                }
            }
        }
        .menu-table__items{
            margin-left: 0;
            margin-right: 0;
            @include breakpoint(x-large) {
               margin-left: 3em;
                margin-right: 3em;
            }
        }
    }
    &-menu-4{
        font-family: 'Tillana';
        background-color: $color-menu-4-bg;
        @include breakpoint(small) {
            img{
                width: 14%;
            }
            width: 100%;
            padding: 0em;
        }
        @include breakpoint(medium) {
            width: 100%;
            img{
                width: 14%;
            }
        }
        .menu-card__header{
            font-family: 'KaushanScript';
            &--title{
                padding-bottom: 0.5em;
                font-size: scut-rem(38px);
                @include breakpoint(small) {
                    padding-bottom: 0.8em;
                    font-size: scut-rem(44px);
                }
                @include breakpoint(medium) {
                    padding-bottom: 1em;
                    font-size: scut-rem(48px);
                }
                @include breakpoint(large) {
                    font-size: scut-rem(58px);
                }
            }
            color: $color-menu-4-text;
            background: linear-gradient(
                to right,
                $color-menu-4-gradient-start 0%,
                $color-menu-4-gradient-end 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color:transparent;
        }
        .menu-table__items{
            margin-left: 0;
            margin-right: 0;
            @include breakpoint(x-large) {
                margin-left: 2em;
                margin-right: 2em;
            }
        }
    }
    &__header{
        display: flex;
        flex-direction: column;
        align-self: center;
        &--title{
            align-self: center;
            font-size: 18px;
            font-weight: 700;
        }
    }
    &--title{
        align-self: center;
        font-size: scut-rem(18px);
        @include breakpoint(small) {
            font-size: scut-rem(28px);
        }
        @include breakpoint(large) {
            font-size: scut-rem(38px);
        }

     }
.menu-table{
    font-size: scut-rem(16px);
    &__2{
        color: $color-menu-2-2-text;
    }
    &__3{
        color: $color-menu-2-3-text;
    }
    &__caption{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--title{
            position: relative;
            white-space: nowrap;
            font-weight: 700;
            @include breakpoint(small) {
                font-size: scut-rem(16px);
              }
              @include breakpoint(medium) {
                font-size: scut-rem(18px);
              }
              @include breakpoint(large) {
                font-size: scut-rem(20px);
              }
              @include breakpoint(x-large) {
                font-size: scut-rem(24px);
              }
            
        }

     }
    &__items{
        margin: 1em 0 2em;
        &--list{
            display: flex;
            justify-content: space-between;
            line-height: 2;
            font-size: scut-rem(16px);
            @include breakpoint(large) {
              flex-direction: row;
              justify-content: space-between;  
            }
        }
       

    }
    
 }
}